<ion-view view-title="Search">
  <ion-content>
    <div class="row text-center" style="flex-wrap: wrap">
      <div class="col col-50">
        <img  src="./img/ionic.png" style="height:100px;width:100%"/>
        <span> gr</span>
      </div>
      <div class="col col-50">
        <img  src="./img/ionic.png" style="height:100px;width:100%"/>
          <span> gr</span>
      </div>
      <div class="col col-50">
        <img  src="./img/ionic.png" style="height:100px;width:100%"/>
  <span> gr</span>
      </div>
      <div class="col col-50">
        <img  src="./img/ionic.png" style="height:100px;width:100%"/>
  <span> gr</span>
      </div>
    </div>
  </ion-content>
</ion-view>
